body{
    font-family: "Inter", sans-serif;
    color: white; 
}

.img svg{
    width: 100px;
}

h1.hotel{
    font-weight: 200;
    font-size: 40px;
}

h1.forgot{
    font-size: 35px;
    margin-top: 15px;
}

h1.hotel, img{
    margin: 0;
    padding: 0;
}

p.welcome{
    font-weight: 100;
    text-align: center;
}

h1, p{
    margin: 0px;
    padding: 0px;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 225px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    margin-top: 50px;
}

input{
    padding: 10px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: white;
    text-align: center;
}

.but_in{
    margin: auto;
    border: 2px solid white;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: white;
    width: 450px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 12lvh;
}

.but_back{
    display: flex;
    margin: auto;
    border: 2px solid white;
    font-size: medium;
    font-weight: bold;
    justify-content: center;
    color: white;
    width: 225px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

a{
    text-decoration: none;
}